<div class="pt-24 pb-24 bg-gray-100">
    <div class="container mx-auto px-4 max-w-[60rem]">
        <div class="text-center mb-8">
            <span class="text-primary uppercase font-semibold">READY TO GET STARTED</span>
            <h2 class="text-4xl font-bold text-slate-800 mt-2 max-w-[40rem] mx-auto">Get The Latest Insurance News In Minutes</h2>
            <p class="mt-4 text-slate-600 max-w-[40rem] mx-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.
                Urna eu et purus et mi sit rhoncus..
            </p>
        </div>

        <div class="relative flex justify-center items-center">
            <form class="flex flex-col min-[480px]:flex-row items-center gap-4 max-w-lg w-full z-10">
                <input type="email"
                    class="flex-grow px-4 py-3 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary"
                    placeholder="Email address" name="EMAIL" required autocomplete="off" />
                <button type="submit"
                    class="bg-primary text-white px-6 py-3 flex items-center gap-4 font-semibold rounded-md shadow-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
                        <path fill="currentColor"
                            d="M3.5 1.346a.5.5 0 0 1 .241.061l18.462 10.155a.5.5 0 0 1 0 .876L3.741 22.592A.5.5 0 0 1 3 22.154V1.846a.5.5 0 0 1 .5-.5M5 4.382V11h5v2H5v6.617L18.85 12z" />
                    </svg>
                    Subscribe
                </button>
            </form>

            <img src="assets/email-1.png" class="absolute top-0 left-0"/>
            <img src="assets/email-2.png" class="absolute bottom-0 right-0"/>
        </div>
    </div>
</div>